---
- name: provisioning
  hosts: localhost
  vars_files:
  - ../vars/provisioning.yml

  roles:
  - role: caynevejvoda.ansible_role_hcloud_server
    tags:
    - hcloud

  tasks:
  - name: whait for provisioning
    ansible.builtin.pause:
      seconds: 20

  - name: Refresh inventory 
    ansible.builtin.meta: refresh_inventory
